.ManageTask{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.ManageTask-container{
    width: 90%;
    height: 80%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ManageTask-btn{
    display: flex;
width: 90%;
height: 62px;
border-radius: 5px;
background: #0C1A30;
border: none;
justify-content: center;
align-items: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 120%;
color: #F8FAFF;

}
.ManageTask-imageHolder{
    width: 100%;
    height: 42%;
    /* background: url(../../public/Frame1.svg); */
}
.ManageTask-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.ManageTask-header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    color: #3A3A3A;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.MangeTask-text{
    width: 100%;
    height: 24%;
    color: #3A3A3A;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.progressbar{
    height: 40px;
    width: 100%;
    /* background: green; */
}
.progress-bar {
    width: 90%;
    
    display: flex;
    /* justify-content: center; */
    margin-bottom: 20px;
  }
  
  .stroke {
    width: 50px;
    height: 5px;
    margin: 0 5px;
    background-color: lightgray;
    transition: background-color 0.3s ease;
  }
  
  .stroke.active {
    background-color: black;
  }
  @media screen and (max-Width:320px){
    .MangeTask-text{
        font-size: 18px;
    }
    
  }