.SignUp{
    width: 100%;
    height: 90vh;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.SignUp-main{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap:10px;
    /* justify-content:space-around; */


}
.CreateAccount-text-holder{
    width: 45%;
    height: 30%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-left: 30px;
    color: #1E1E1E;
    align-items: flex-end;

    font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.Input-Holder{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.input-container{
width: 90%;
height: 25%;
display: flex;
align-items: center;
border-bottom: 2px solid black;
gap:20px;

 
}
.Email-input{
    width: 90%;
    height: 80%;
    border: none;
    outline: none;
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.175px;
color:  #BDBDBD;
}
.input-icon{
    width: 19.3px;
    height: 17.7px;
    /* border: solid bisque; */
    background: url();
    & img{
        width: 100%;
        height: 100%;
    }
}
.input-iconp{
    width: 22px;
    height: 17.7px;
    /* border: solid bisque; */
    background: url();
    & img{
        width: 100%;
        height: 100%;
    }
}
.Password-input{
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.175px;
color:  #BDBDBD;
}
.button-container-signup {
    width: 100%;
    /* height: 60px; */
    display: flex;
    justify-content: center;
}
.create-account-btn{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
align-items: center;
    border-radius: 5px;
background: #0C1A30;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 120%;
color:white;
border: none;
/* margin-top: 20px; */
}
.Form{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #3A3A3A;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.175px;
gap:10px;

& span{
    font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.04px;
}
& span:hover{
    cursor: pointer;
}
}
@media screen and (max-Width:380px){
    .SignUp-main{
        height: 45%;
    }
    .button-container-signup{
        height: 15%;
        align-items: flex-end;
    }
}
@media screen and (max-Width:380px){
    .CreateAccount-text-holder{
        font-size: 25px;
    }
    .create-account-btn{
        height: 70%;
    }
}