.Welcome{
    width: 100%;
    height: 100vh;
}
.Welcome-header{
    width: 75%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Welcome-header-icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
/* border: 1px solid #D8DADC; */
background:url(../../public//Back.svg);
background-repeat: no-repeat;
background-size: cover;
margin-left: 24px;
transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.Welcome-header-icon:hover{
    cursor: pointer;
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.Welcome-header-logo{
    width: 55%;
    height: 40px;
    background:url(../../public/TASKMA.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.Welcome-main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.Welcome-main-textHolder{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    background: white;
}
.Welcome-mainText{
    width: 75%;
    height: 40%;
    display: flex;
    align-items: flex-end;

    font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
/* margin-top: 30px; */
}
.Welcome-main-text{
    width: 55%;
    height: 35%;
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.175px;
}
.Welcome-btnHolder{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.Welcome-loginbtn{
    width: 90%;
    height: 45%;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
background: #0C1A30;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 120%;
color: white;
}
.Welcome-createAccountbtn{
    width: 90%;
    height: 45%;
    border-radius: 5px;
    border: 1px solid #0C1A30;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 120%;
}

@media screen and (max-Width:380px){
    .Welcome-header{
        height: 20%;
    }
    .Welcome-mainText{
        font-size: 25px;
    }
    .Welcome-main-textHolder{
        height: 25%;
    }
    .Welcome-main-text{
        width: 70%; 
    }
    .Welcome-main-textHolder{
        height: 25%;
    }
    .Welcome-main{
        height: 80%;
    }
    /* .Welcome-btnHolder{
        height: 15%;
    } */
}
@media screen and (max-Width:320px){
    .Welcome-header{
        height: 25%;
    } 
    .Welcome-mainText{
        font-size: 22px;
    }
    .Welcome-main{
        height: 70%;
    }
     .Welcome-btnHolder{
        height: 27%;
    } 
    
}